@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&family=Patrick+Hand+SC&family=Rancho&display=swap');
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }

body {
    background-color: #FAECE7;
}

#title-bar {
    display: inline;
    max-width: 250px;
}

#title {
    font-size: 45px;
    font-style: oblique;
}

#subtitle {
    font-size: 25px;
    font-style: italic;
}

#logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    padding-right: 75px;
}

#site-logo {
    max-height: 100%;
    max-width: 100%;
}

#search-bar {
    position: absolute;
    right: 0;
    padding-top: 10px;
    padding-right: 10px;
}

#search-btn {
    display: inline-block;
    border: 1px solid;
    font-family: 'Rancho', cursive;
    font-size: 15px; 
    background-color: #FFCD75;
    color: #000;
    max-height: 100%;
    max-width: 100%;
    
}

#search-label {
    font-family: 'Rancho', cursive;
    font-size: 22px;
    color: #FFF;
    text-shadow: 1px 1px #000000;
    text-decoration-line: underline;
    padding-right: 4px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


h2, h4 {
    font-family: 'Rancho', cursive;
    text-align: center;
    text-shadow: 2px 2px #000000;
    color: #FFD791;
}

#static-drink-list > li > img {
    max-height: 150%;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%; 
    border: 1px solid #FFF;
    border-radius: 30px;

}

.favorites-nav {
    position: absolute;
    left: 0px;
    width: 300px;
    height: 800px;
    border: 3px solid #FFCD75;
    border-radius: 30px;
    background-color: #FFE5DE;
    margin-left: 25px;
    margin-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.favorites-nav > h3 {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 20px;
    text-align: center;
    color: #FF8427;
    text-shadow: 1px 1px #FFF; 
    width: auto;
}

.favorites-nav > h5 {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 15px; 
    font-style: italic;
    text-align: center;
    color: #FF8427;
    text-shadow: 1px 1px #FFF;
    width: auto;
    margin-bottom: 10px;
}

